[submodule "heron/ux/gxp/justb4.gxp"]
	path = heron/ux/gxp/git
	url = https://github.com/dracic/gxp
	branch = hs-viewer
[submodule "heron/ux/oleditor/justb4.ole"]
	path = heron/ux/oleditor/ole/client
	url = https://github.com/dracic/ole
	branch = hs-viewer
